<table border=1 align="center">
	<tr>
		<td width='50%' height='100px'>
			<div ui-view="scm"></div>
		</td>
		<td width='50%' height='100px'>
			<div ui-view="crm"></div>
		</td>
	</tr>
	<tr>
		<td width='50%' height='100px'>
			<div ui-view="sales"></div>
		</td>
		<td width='50%' height='100px'>
			<div ui-view="orders"></div>
		</td>
	</tr>
	<tr>
		<td width='50%' height='100px'>
			<div ui-view="accounts"></div>
		</td>
		<td width='50%' height='100px'>
			<div ui-view="leaves"></div>
		</td>
	</tr>
</table>